body {
    font-family: 'Inter', sans-serif;
}

#employee-view, #manager-view, #loading-view, .modal {
    display: none;
}

.signature-canvas {
    border: 2px dashed #cbd5e1;
    border-radius: 0.5rem;
    cursor: crosshair;
}

.pending-approval {
    background-color: #fef9c3; /* Amarillo claro */
}

